<!doctype html>
<html>
	<head>
		<title>Down Detector Detectorg</title>
	</head>
	<body>
		<h1>Is Down Detector Down Right Now?</h1>
		<ul>
		{{ $timestampFormat := .TimestampFormat }}
		{{ range $key, $value := .Map }}
		<li>
			{{ $key }}: {{if $value.Status }} ✅ {{ else }} ❌ {{ end }}
			<ul>
				{{ if $value.LastCheck  }}
				<li>Last Checked: {{ $value.LastCheck.Format $timestampFormat }}</li>
				{{ end }}
				{{ if $value.LastUp  }}
				<li>Last Up: {{ $value.LastUp.Format $timestampFormat }}</li>
				{{ end }}
			</ul>
		</li>
		{{end}}
		</ul>
		<p>Quid custos ipsos custodiet?</p>
	</body>
</html>
